<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pago Checkout</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="pago_checkout">
      <div formArrayName="pago_account_ids">
        <button data-type="plus" class="btn btn-primary" (click)="addPagoId()">Add PayId</button>
        <div *ngFor="let pagoId of pagoIds.controls; let i=index">
        <!-- The repeated alias template -->
          <label>
            Pago Account Id:
            <input type="text" [formControlName]="i">
          </label>
        </div>
      </div>
      <ng-template [ngIf]="assets">
        <select class="form-control" formControlName="asset_name">
          <option *ngFor="let asset of assets">{{ asset.unitName }}</option>
        </select>
      </ng-template>
    </form>
    Total: {{checkout_total}} {{ pago_checkout.get('asset_name').value }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Confirm</button>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">Checkout</button>
