/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

div.card-header {
 font-size: large;
}

div.card {
  background-color: white;
  margin-top: 40px
}

.table {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px
}

.background {
  color: red
}